.navbar  {
    background-color: #00a287 ;
   
}

a:link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
a:visited{
    font-weight: bold;
    color: #5ed08d;
    text-decoration: none;
}
a:active{
    font-weight: bold;
    color: bisque;
    text-decoration: none;
}
h1{
    text-align: center;
}
body form[name="editblog"]{
    margin-left: 30%;
    margin-bottom: 3em;
}
fieldset{
    width: 80%;
    height: 50px;
}
fieldset p input
{
    width:30em;
}
fieldset p textarea{
    width: 30em;
    height: 10em;
}
footer{
    position: absolute; 
    top: 100%;
    width:100% ;
    background-color: #00a287; 
    margin-bottom: 0;
    height: 4em;
}


footer p {
display: inline;
 }
footer ul{
    float: right; 
    margin-right: 1em;
}
footer li{
    display: inline;
}