.navbar  {
    background-color: #00a287 ;
}

a:link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
a:visited{
    font-weight: bold;
    color: #5ed08d;
    text-decoration: none;
}
a:active{
    font-weight: bold;
    color: bisque;
    text-decoration: none;
}
h1{
    text-align: center;
}
form[name="signup"]{
    margin-left: 30%;
    margin-right: 20%;
    
}
form[name="editprofile"]{
    margin-left: 30%;
    margin-right: 20%;
    
}
fieldset{
    width: 80%;
    height: 50px;
}
fieldset p input{
    width:30em ;
    text-align: center;
}
fieldset p textarea{
    width: 30em;
}
footer{
    position: absolute; 
    top: 100%;
    width:100% ;
    background-color: #00a287; 
    margin-bottom: 0;
    height: 4em;
}
footer.navbar-header {
    display: inline;
}

footer p {
display: inline;
 }
footer ul{
    float: right; 
    margin-right: 1em;
}
footer li{
    display: inline;
}
